@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.text {
	font-family: 'Ysabeau Office', sans-serif;
}

.title {
	font-weight: 600;
	font-size: 50px;
	color: rgba(238, 238, 238, 0.87);
	text-align: left;
	white-space: nowrap;
}

.subtitle {
	font-weight: 300;
	font-size: 25px;
	color: rgba(238, 238, 238, 0.6);
}

.a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

/* .scroll-target {
	scroll-margin-top: 60px;
} */
