@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.title {
	font-family: 'Ysabeau Office', sans-serif;
	color: rgba(238, 238, 238, 0.87);
	font-weight: 700;
	font-size: 60px;
}

.subtitle {
	font-family: 'Ysabeau Office', sans-serif;
	color: rgba(238, 238, 238, 0.6);
	font-weight: 300;
	font-size: 40px;
}
